<div class="row">
    <div class="col-sm-12">
        <div class="btn-group">
            {{#each categories}}
                {{#link-to 'catalog.category' this}}<button type="button" class="btn btn-default">{{name}}</button>{{/link-to}}
            {{/each}}
        </div>
    </div>
</div>
{{outlet}}